.prose  h1, .prose  h2, .prose  h3, .prose  h4, .prose  h5, .prose  h6 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 1rem;
  color: black;
}

.prose p {
  color: black;
  margin-bottom: 0.3rem;
}

.prose a {
  color: #007bff;
  text-decoration: none;
}

.prose a:hover {
  color: #007bff;
  text-decoration: underline;
}

.prose a:visited {
  color: #6610f2;
}

.prose ul, .prose ol {
  margin-left: 1.9rem;
  margin-bottom: 1rem;
  list-style: initial;
  color: black;
}

.prose ul {
  list-style-type: disc;
}

.prose ol {
  list-style-type: decimal;
}


.prose li {
  margin-bottom: 0.5rem;
}

.prose table {
  max-width: 100%;
  border-collapse: collapse;
}

.prose th, .prose td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.prose img {
  display: inline;
}